<!-- shared navigation -->
<!-- navigation changes based on login status -->

<nav>
  <a href="/">Commencement CMS</a>

<% if (user) { %>
  <!-- logged-in users -->
  <a href="/awardees">Manage Awardees</a>
  <a href="/awardees/new">Create Awardee</a>
  <a href="/auth/sign-out">Sign Out</a>
<% } else { %>
  <!-- guests -->
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
<% } %>
</nav>